
/*******************************************
				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
*{
	padding: 0;
	margin: 0;
}

html, body {
    font-size: 62.5%;
}

h1 {
    color: #97acbf;
    font: small-caps 400 6.864rem berkshire-swash, cursive;
    text-shadow: 4px 4px 13px hsl(53, 100%, 90%);
    padding-bottom: 10px;    
}

h2 {
    color: #b1b39f;
    font: 700 4.236rem/1.5 aclonica, sans-serif;
    
}

p {
    font: 400 2.618rem/1.5 baumans, sans-serif;
    color: #97acbf;
}

/*******************************************
				Layout
*******************************************/

.wrapper {
	text-align: center;
    margin: 0 auto;
}

.masthead {
    background: url(https://unsplash.it/1500/210?image=421);
}

.main {
    
}

.foot {
    background: url(https://unsplash.it/1500/210?image=421);
}

/*******************************************
				Form Styles
*******************************************/

.formBox {
	text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
}

.buttons {
	margin: 0 auto;
}

label {
	margin: 0 auto;
    padding-top: 1.618rem;
    font: 700 1.618rem baumans, sans-serif;
    display: block;
    max-width: 200px;
    height: 30px;
    color: #646650;
}

input[type=text],
input[type=number],
input[type=date] {
	font: 400 1.618rem baumans, sans-serif;
    width: 200px;
    margin: 7px;
    text-align: center;
    border-radius: 5px;
}

input[type=submit],
input[type=reset] {
	font: 400 1.618rem baumans, sans-serif;
    width: 200px;
    margin: 7px;
    border-radius: 5px;
    color: #fff;
    background: #b1b39f;
}


/*******************************************
				Image Styles
*******************************************/

/*

ICONS ARE from the OPEN ICONIC, OPEN SOURCE & FREE ICON SET, AVAILABLE at:

https://useiconic.com/open/.

*/

#departure, #destination { 
	background: url(../open-iconic/svg/globe.svg) no-repeat 10px;
}

#departure_dt, #return_dt {
	background: url(../open-iconic/svg/calendar.svg) no-repeat 10px;
    text-indent: 23px;
}

#num_adults {
	background: url(../open-iconic/svg/people.svg) no-repeat 10px;
	height: 30px;
	width: 70px;
	text-indent: 23px;
}

#max { 
	background: url(../open-iconic/svg/dollar.svg) no-repeat 10px;
    text-indent: 23px;
}

svg {
  width: 36px;
  height: 36px;
}
