
/*******************************************
                    Defaults
*******************************************/
* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html, body {
    font-size: 62.5%;
}

h1 {
    color: #97acbf;
    font: small-caps 400 6.864rem berkshire-swash, cursive;
    text-shadow: 4px 4px 13px hsl(53, 100%, 90%);
    padding-bottom: 10px;    
}

h2 {
    color: #b1b39f;
    font: 700 4.236rem/1.5 aclonica, sans-serif;
    text-shadow: 1px 1px 20px rgba(150, 150, 153, 0.5);
    
}

p {
    font: 400 2.618rem/1.5 baumans, sans-serif;
    text-shadow: 1px 1px 20px rgba(150, 150, 153, 0.5);
    color: #97acbf;
}

.foot p {
    text-shadow: 4px 4px 13px hsl(53, 100%, 90%);
    font: 700 2.118rem/1.5 aclonica, sans-serif;
}

/*******************************************
                    Layout
*******************************************/

.wrapper {
	text-align: center;
    margin: 0 auto;
}

.masthead {
    background: url(https://unsplash.it/1500/210?image=421);
}

.main {
    margin: 0 auto;
    /*background: linear-gradient(hsla(3, 100%, 92%, 0.2), hsla(208, 24%, 67%, 0.4));*/
}

.foot {
    background: url(https://unsplash.it/1500/210?image=421);
    height: 5.5rem;
    padding-top: 2.3rem;
}

/*******************************************
                Form Styles
*******************************************/

.formBox {
	text-align: center;
    margin: 0 auto;
    max-width: 250px;
}

.buttons {
	margin: 0 auto;
}

label {
	margin: 0 auto;
    padding-top: 1.618rem;
    font: 700 1.618rem baumans, sans-serif;
    display: block;
    max-width: 250px;
    height: 30px;
    color: #646650;
}

input[type=text],
input[type=number],
input[type=date] {
	margin: 0 auto;
    font: 400 1.618rem baumans, sans-serif;
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}

input[type=submit],
input[type=reset] {
	font: 400 1.618rem baumans, sans-serif;
    width: 250px;
    height: 30px;
    margin: 7px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 4px 4px 13px hsl(53, 100%, 90%);
    background: #b1b39f;
    margin: 10px;
    margin-bottom: 3.5rem;
}

#price-slider {
    margin: 0 auto;
    margin-top: 20px;
    width: 220px;
    height: 15px;
    background: radial-gradient(#ffd8d6, #7f6665);
    border: none;
    outline: none;
}

.ui-slider-horizontal .ui-state-default {background: radial-gradient(#ffd8d6, #7f6665)}

#text-value {
    font: 400 1.618rem aclonica, sans-serif;
    width: 250px;
    border: none;
    color: #97acbf;
    height: 30px;
    margin-top: 20px;
}

/*******************************************
                Image Styles
*******************************************/

/*

ICONS ARE from the OPEN ICONIC, OPEN SOURCE & FREE ICON SET, AVAILABLE at:

https://useiconic.com/open/.

*/

#departure, #destination { 
	background: rgba(177, 179, 159, 0.33);
    background: url(../open-iconic/svg/globe.svg) no-repeat 10px;
}

#departure_dt, #return_dt {
	background: rgba(177, 179, 159, 0.33);
    background: url(../open-iconic/svg/calendar.svg) no-repeat 10px;
    text-indent: 23px;
}

#num_adults {
	background: url(../open-iconic/svg/people.svg) no-repeat 10px;
	height: 30px;
	width: 70px;
	text-indent: 23px;
}

#max { 
	background: url(../open-iconic/svg/dollar.svg) no-repeat 10px;
}

/*******************************************
            Responsive Design
*******************************************/

@media all and (min-width: 501px) and (max-width: 780px) {

    .main {
        margin: 0 auto;
        width: 500px;
    }
    
    .formBox {
        margin-left: 5px;
        float: left;
    }    

     label {
         margin: 0 auto;
         clear: both;
     }
    
    input[type=text],
    input[type=number],
    input[type=date] {
        margin: 0 auto;
        clear: both;
        width: 200px;
        margin: 20px;
    }
    
    input[type=submit],
    input[type=reset] {
        width: 200px;
        clear: both;
    }
    
}

@media all and (min-width: 781px) {
    
    .main {
        margin: 0 auto;
        width: 1080px;
    }
    
    .formBox {
        margin-left: 15px;
        float: left;
        margin-top: 55px;
        margin-bottom: 55px;
    }
    

    label {
        clear: both;
        
}
    input[type=text],
    input[type=number],
    input[type=date] {
        clear: both;
    }
    
    input[type=submit],
    input[type=reset] {
        clear: both;
    }
}