
/*******************************************
                    Defaults
*******************************************/
* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 6rem;
}

html, body {
    font-size: 62.5%;
}

h1 {
    color: #97acbf;
    font: small-caps 400 6.063rem berkshire-swash, cursive;
    text-shadow: 4px 4px 13px hsl(53, 100%, 90%);
    padding-bottom: 1rem;    
}

h2 {
    color: #b1b39f;
    font: 700 3.375rem/1.5 aclonica, sans-serif;
    text-shadow: 0.1rem 0.1rem 2rem hsla(240, 1%, 59%, 0.5);
    
}

p {
    font: 400 2.25rem/1.5 baumans, sans-serif;
    text-shadow: 0.1rem 0.1rem 2rem hsla(240, 1%, 59%, 0.5);
    color: #97acbf;
}

.foot p {
    font: 700 1.5rem/1.5 aclonica, sans-serif;
    text-shadow: 0.4rem 0.4rem 1.3rem hsl(53, 100%, 90%);
    padding-top: 2rem;
}

/*******************************************
                    Layout
*******************************************/

.wrapper {
	text-align: center;
    margin: 0 auto;
}

.masthead {
    background: url(https://unsplash.it/1500/210?image=421);
}

.main {
    margin: 0 auto;
}

.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background: url(https://unsplash.it/1500/210?image=421);
}

/*******************************************
                Form Styles
*******************************************/

.formBox {
	text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

label {
	margin: 0 auto;
    padding-top: 1.618rem;
    font: 700 1.618rem baumans, sans-serif;
    display: block;
    width: 70%;
    height: 3rem;
    color: #646650;
}

input[type=text],
input[type=number],
input[type=date] {
	margin: 0 auto;
    font: 400 1.618rem baumans, sans-serif;
    width: 80%;
    height: 3rem;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}

input[type=submit],
input[type=reset] {
	font: 400 1.618rem baumans, sans-serif;
    width: 70%;
    height: 3rem;
    margin: 0.7rem;
    border-radius: 0.5rem;
    color: #fff;
    text-shadow: 0.4rem 0.4rem 1.3rem hsl(53, 100%, 90%);
    background: #b1b39f;
    margin: 1rem;
}

input[type=submit]:last-child,
input[type=reset]:last-child {
    margin-bottom: 5rem;
}

#price-slider {
    margin: 0 auto;
    margin-top: 2rem;
    width: 60%;
    height: 1.5rem;
    background: radial-gradient(#97acbf, hsla(2, 11%, 45%, 0.64));
    border: none;
    outline: none;
}

.ui-slider-horizontal .ui-state-default {
    background: radial-gradient(#ffd8d6, hsla(2, 11%, 45%, 0.64));
    width: 2rem;
    height: 2rem;
}

#text-value {
    font: 400 1.618rem aclonica, sans-serif;
    width: 50%;
    border: none;
    color: #97acbf;
    height: 3rem;
    margin-top: 2rem;
}

/*******************************************
                Image Styles
*******************************************/

/*

ICONS ARE from the OPEN ICONIC, OPEN SOURCE & FREE ICON SET, AVAILABLE at:

https://useiconic.com/open/.

*/

#departure, #destination { 
	background: rgba(177, 179, 159, 0.33);
    background: url(../open-iconic/svg/globe.svg) no-repeat 1rem;
}

#departure_dt, #return_dt {
	background: rgba(177, 179, 159, 0.33);
    background: url(../open-iconic/svg/calendar.svg) no-repeat 1rem;
    text-indent: 23px;
}

#num_adults {
	background: url(../open-iconic/svg/people.svg) no-repeat 10px;
	height: 30px;
	width: 70px;
	text-indent: 23px;
}

#max { background: url(../open-iconic/svg/dollar.svg) no-repeat 10%; }

/*******************************************
            Responsive Design
*******************************************/

@media all and (min-width: 501px) and (max-width: 780px) {

    /*.main { width: 500px; }*/
    
    .formBox { float: left; width: 45%; margin: 2.5%;}    

    label { clear: both; width: 70%; }
    
    input[type=text],
    input[type=number],
    input[type=date] { width: 90%; }
    
    #price-slider { width: 40%; }
    
    input[type=submit],
    input[type=reset] { width: 37%; clear: both; }
    
    #max { background-position: 23%; }
        
}

@media all and (min-width: 781px) {
    
    .main { width: 80%; }
    
    .formBox { float: left; width: 25%; margin-top: 6rem; margin-bottom: 5rem;}
    
    label { clear: both; width: 100%}
        
    input[type=text],
    input[type=number],
    input[type=date] { clear: both; width: 90%}
    
    #price-slider { width: 30%; }
    
    input[type=submit],
    input[type=reset] { clear: both; width: 20%; }
    
    #max { background-position: 35%; }
        
}

@media all and (min-width: 1081px) {
    
    h1 { font-size: 6.854rem; }

    h2 { font-size: 4.236rem; }

    p { font-size: 2.618rem; }
    
    .foot p { font-size: 2rem }
    
    #price-slider { width: 20%; }
    
 }

@media all and (min-width: 1501px) {

    .masthead { background: url(https://unsplash.it/2560/110?image=421); }

    .foot { background: url(https://unsplash.it/2560/60?image=421); }
}